body
{
	background-color: #D9D2D2;
	margin: 0;
	font-size: 70px;
	font-family: Courier new;
}

header,aside,main,footer
{
	background-color: #4A9AFB;
	color: white;
}

header
{
	width: 50%;
	margin: 0 0 40px 0;
	padding: 30px 0;
	float: left;
}
nav
{
	float: left;
	width: 50%;
	margin: 0 0 40px 0;
	padding: 30px 0;
}

aside
{
	float: right;
	width: 33%;
	padding: 180px 0;
}

main
{
	float: right;
	width: 64%;
	padding: 180px 0;
	margin-bottom: 40px;
}

footer
{
	clear: both;
	padding: 30px 0;
}